.container{
    align-items: center;
    justify-content: center;
    background-color: #386080;
    width: 100%;
    height: 75px;
    padding: 15px;
}

.titulo{
    color: #FFF;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

.listy{
    align-items: center;
    justify-content: center;
}

.local-list{
    align-items: center;
    justify-content: center;
    background-color: #386080;
    margin-top: 90px;
    margin-left: -15px;
}

li{
    list-style: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input{
    border-radius: 10px;
    height: 20px;
    margin-right: 5px;
    border: none;
}

.btn{
    text-align: center;
    border-radius: 200px;
    height: 32px;
    background-color: #FFF;
    color: #386080;
    font-size: 25px;
    font-style: bold;
    border: 2px #05080a;
}

.btn:hover{
    opacity: 0.7;
    color:#000;
    transition: all 0.40s;
}